@{
    ViewBag.Title = "Potvrda ponovng postavljanja lozinke";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vaša lozinka je ponovno postavljena. @Html.ActionLink("Kliknite ovdje za prijavu", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
