@{
    ViewBag.Title = "Kontakt";
}
<style>
    li.navbar-contact > a {
        color: #898989 !important;
        background-color: #FFF !important;
    }

        li.navbar-contact > a:hover {
            /*color: #CEE0C1 !important;*/
            color: #FFF !important;
            background-color: #898989 !important;
            /*background-color: #FFF !important;*/
        }
</style>
<br />
<h4 style="text-align: center; font-style:italic">
    <b>
        Za sva dodatna pitanja stojimo na rapolaganju
    </b>
</h4>

<address style="text-align: center">
    Valpovački poduzetnički centar d.o.o.<br />
    Matije Gupca 32<br />
    31550 Valpovo<br />
    Hrvatska<br />
</address>
<address style="text-align: center">
    <strong>Tel:</strong>+385 91 736 0313<br />
    <strong>email:</strong>adrijana.jurilj@vpc.hr<br />
    <strong>web:</strong>www.vpc.hr<br />
</address>
<address style="text-align: center">
    Radno vrijeme od ponedjeljka do petka od 7:30 do 15:30 sati<br />
</address>

<h4 style="text-align: center; font-style:italic">
    <b>
        Tehnička podrška
    </b>
</h4>

<address style="text-align: center">
    <strong>Tel:</strong>+385 95 854 3211<br />
    <strong>email:</strong>podrska@vpc.pohrana.com.hr<br />
</address>

